body {
    width: 80%;
    margin: auto;
    background-color: #212529;
}

@media screen and (max-width: 800px) {
    body {
        width: 100%;
        background-size: 10%;
    }
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    .content {
        width: 80%;
    }
}

header {
    background-color: gray;
    text-align: center;
    visibility: visible;
}

nav {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.nav-vign {
    text-align: center;
    margin-bottom: 5%;
}

.nav-vign > a {
    border: 3px black solid;
    background-color: #4daaf2;
    border-radius: 100px;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    color: white;
    text-decoration: none;
    padding: 5%;
    box-shadow: 0px 8px 35px -6px rgba(77,170,242,0.36);
}

.nav-vign > a:hover {
    background-color: #2e3858;
    border-radius: 100px;
}

@media screen and (max-width: 800px) {
    
}

h1 {
    border-radius: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4vw;
    background-color: #2e3858;
    border: 5px black solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    color: white;
    padding: 1% 0 1% 0;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        border: 2px black solid;
    }
}

.text-vign {
    margin-top: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 3px black solid;
    background-color: #4daaf2;
    border-radius: 30px;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5% 0 5% 0;
}